# Dependencies
node_modules/
.pnpm-store/
package-lock.json

# Build output
dist/
dist-ssr/

# Environment variables
.env
.env.local
.env.*.local

# Vite
vite.config.ts.timestamp-*

# TypeScript
*.tsbuildinfo

# PWA
sw.js
workbox-*.js

# Logs
*.log
pnpm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

